td input {
    width: 250px;
    height: 100%;
    margin: 0;
    text-align: center;
}

td input:focus {
    border: none;
    box-shadow: none;
    border-radius: 0;
    outline: none;
}

td,
input {
    border: none;
    box-shadow: none;
    border-radius: 0;
}

td,
tr,
table {
    margin: 0;
}

td {
    border: 1px solid #eaeaea;
    width: 250px !important;
}

table {
    width: fit-content;
}